* {
    box-sizing: border-box;
}
.box-main {
    background: rgba(0, 0, 0, 0.7);
    border-radius: 7px; /* округление диалогового окна*/
}
.box-second {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 7px; /* округление диалогового окна*/
}

@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
.text-paprika {
    font-family: "Shadows Into Light", cursive;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
}

.btn {
    transition: 0.5s;
}

.btn:hover {
    color: blue;
}

/* моб.версия */
@media (max-width: 992px) {
    .box-main {
        display: none;
    }
    .div-menu {
        overflow: auto;
        height: 83vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .div-main {
        overflow: auto;
        height: 81vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .div-basket {
        overflow: auto;
        height: 79vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .const-pizza {
        overflow: auto;
        height: 71vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .const-chudu {
        overflow: auto;
        height: 71vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }

    .box-second {
        height: 100vh;
    }
}
/* комп.версия */
@media (min-width: 992px) {
    .btn-offcanvas {
        display: none;
    }
    .div-menu {
        overflow: auto;
        height: 86vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .div-main {
        overflow: auto;
        height: 86vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .div-basket {
        overflow: auto;
        height: 77vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .const-pizza {
        overflow: auto;
        height: 65vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .const-chudu {
        overflow: auto;
        height: 65vh;
        -ms-overflow-style: none;
        scrollbar-width: none;
        padding: 4%;
    }
    .box-main,
    .box-second {
        height: 95vh;
    }
}

.offcanvas_modal {
    background: url(/public/images/offcanvas.jpg);
    background-size: 450%;
    background-repeat: no-repeat;
}
.offcanvas_modal_shadow {
    background: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

.btn-eye {
    position: absolute;
    z-index: 1000;
    top: 7px;
    right: 5px;
    border-radius: 50%;
}
.btn-eye:hover {
    background-color: rgba(97, 97, 247, 0.1);
}
